<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body style="color: #FFFFFF" bgcolor="#FF3333" >
<center>

    <h1>Welcome to joely Bar Register</h1>
    <h2>ยินดีต้อนรับเข้าสู่เว็บไซต์สมัครสมาชิด โจลี่บาร์คะ</h2>

    <form method="post" action="{{ url_for('joeForm') }}">
        {{ form.csrf_token }}
         <p>Username :  {{ form.user }} </p>
        <p>Password :{{ form.password }} </p>
        {% for error in form.password.errors %}
            <li style="color:blue">{{ error }}</li>
        {% endfor %}
        <p>Name : {{ form.name }} </p>
        <p>Lastname : {{ form.lname }} </p>
        <p>E-mail : {{ form.email }}</p>
        {% for error in form.email.errors %}
            <li style="color:blue">{{ error }}</li>
        {% endfor %}


        <input type="submit" value="Submit"/>
    </form>

</center>
</body>
</html>